// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #110011;
$margin:       2px;

td {
  border: $margin solid $border-color;
}